<html
  xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
  data-namespace-typo3-fluid="true"
>
  <f:layout name="Default" />

  This Template is responsible for displaying a single view for a domain object
  If you modify this template, do not forget to change the overwrite settings in
  /Configuration/ExtensionBuilder/settings.yaml: Resources: Private: Templates:
  Show.html: keep Otherwise your changes will be overwritten the next time you
  save the extension in the extension builder

  <f:section name="content">
    <h1 class="text-center">{cocktail.name}</h1><hr>
    <div
      ><h4>Photos</h4>
      <f:for each="{cocktail.photos}" as="photo">
        <f:image
          image="{photo}"
          minWidth="400"
          minHeight="300"
          maxWidth="500"
          maxHeight="500"
          treatIdAsReference="1"
          class="img-rounded"/></f:for
    ></div>
    <hr>
    <div>
      <h4>Ingrédients</h4>
      <ul>
        <f:for each="{cocktail.ingredients.name}" as="ingredient">
          <li><f:format.raw>{ingredient}</f:format.raw></li>
        </f:for></ul
      ></div
    >
    <hr>
    <div>
      <h4>Alcolisé :</h4>
      <p
        ><f:if condition="{cocktail.alcoholised}=true">
          <f:then>Oui</f:then>
          <f:else>
            Non
          </f:else>
        </f:if></p
      ></div
    ><hr>
    <div>
      <h4>Description</h4>
      <f:format.raw>{cocktail.description}</f:format.raw>
    </div>

<div>
  <f:link.action action="recipe.list">Voir les recettes</f:link.action>
</div>

    <f:flashMessages />

    <f:link.action action="list">Retour à la liste</f:link.action><br />
  </f:section>
</html>
