<html
  xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
  data-namespace-typo3-fluid="true"
>
  <f:layout name="Default" />

  This Template is responsible for displaying a single view for a domain object
  If you modify this template, do not forget to change the overwrite settings in
  /Configuration/ExtensionBuilder/settings.yaml: Resources: Private: Templates:
  Show.html: keep Otherwise your changes will be overwritten the next time you
  save the extension in the extension builder

  <f:section name="content">
	<h1>{cocktail.name}</h1>
	<br>
    <h2>Photos</h2>
    <f:for each="{cocktail.photos}" as="photo">
      <f:image
        image="{photo}"
        minWidth="400"
        minHeight="300"
        maxWidth="500"
        maxHeight="500"
        class="img-rounded"
		treatIdAsReference="1"/>
	</f:for>
	<br>
	<h2>Ingrédients</h2>
	<ul>
      <f:for each="{cocktail.ingredients.name}" as="ingredient">
        <li>{ingredient}</li>
	  </f:for>
	</ul>
	<br>
    <h2>Alcolisé :
      <h3><f:if condition="{cocktail.alcoholised}=true">
          <f:then>Oui</f:then>
          <f:else>
            Non
          </f:else>
		</f:if></h3>
	</h2>
	<br>
    <h2>Description</h2>
    <h3>{cocktail.description}</h3>

    <f:flashMessages />

    <f:link.action action="list">Retour à la liste</f:link.action><br />
  </f:section>
</html>
