<html
  xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
  data-namespace-typo3-fluid="true">
  <f:layout name="Default" />

  This Template is responsible for creating a table of domain objects. If you
  modify this template, do not forget to change the overwrite settings in
  /Configuration/ExtensionBuilder/settings.yaml: Resources: Private: Templates:
  List.html: keep Otherwise your changes will be overwritten the next time you
  save the extension in the extension builder

  	<f:section name="content">
		<div class="container">
			<div class="row">			
				<h1>Liste de Recettes</h1>
				<f:widget.paginate objects="{recipes}" as="paginatedRecipes" configuration="{itemsPerPage: 2, insertAbove: 1, insertBelow: 0, maximumNumberOfLinks: 9}">
						
					<f:for each="{paginatedRecipes}" as="recipe">
						<div class="col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h1 class="panel-title"><f:link.action action="show" arguments="{cocktail : cocktail}"> {recipe.name}</f:link.action></h1>
								</div>
								<div class="panel-body">
									<f:for each="{recipe.photos}" as="photo">
										<f:image 
											class="img-responsive"
											image="{photo}"
											minWidth="400"
											minHeight="300"
											maxWidth="500"
											maxHeight="500"
											treatIdAsReference="1"/>
									</f:for>
									<h3>Nombre de personnes</h3>
									<f:format.raw>{recipe.nbPeople}</f:format.raw>
									<br>
									<h3>Description</h3>
									<f:format.raw>{recipe.description}</f:format.raw>
									<br>
									<h3>Difficulté</h3>
									<f:format.raw>{recipe.difficulty}</f:format.raw>
									<br>
									<h3>Temps de préparation</h3>
									<f:format.raw>{recipe.prepTime}</f:format.raw>
								</div>
							</div>
						</div>
					</f:for>				
				</f:widget.paginate>
			</div>
		</div>
	</f:section>
</html>
